// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #62510d;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

// COMMON COLORS
$BIG_TITLE: #1f315b;
$TASKS_TITLE: #8f99bf;
$TASK_ITEM_TITLE: #4f566f;

$TASK_BACKGROUND: #ffffff;
$DELETE_BUTTON: #ff6b6b;
$EDIT_BUTTON: #cdcdcd;
$ADD_BUTTON: #066aff;
$DDAY_BLUE: #00498c;
$DDAY_RED: #8d192b;

// CATEGORY COLORS
$STUDY: #df0cf2;
$BUSINESS: #1068f6;
$PERSONAL: #fadf00;
$EXERCISE: #00e64c;
$ETC: #ff5500;
